<% include ../partials/vault/sidebar %>

<div class="home_content">

  <!-- nav bar -->
  <% include ../partials/vault/navbar %>
  

  <div class="overflow-auto vh-100">
    <div class="row bg-light border rounded-3 p-2 m-2 ">
      <div class="col-12 bg-white border ">
        <h2 class="text-center m-2 p-2">Favourites</h2>
        <div class="row">
          
        </div>
      </div>

      <!-- <div class="col-12 col-sm-6 bg-white border">
        <h2 class="text-center m-2 p-2">Recents</h2>
        <div class="row">

        </div>
      </div> -->
    </div>
  </div>
</div>

<script src="../js/sidebar.js"></script>
<script src="../js/clipboard.js"></script>