<% include ../partials/vault/sidebar %>

<div class="home_content">

  <!-- nav bar -->
  <% include ../partials/vault/navbar %>

  <!-- start Password Generator -->
  <div class="container-fluid ">
    <div class="card border rounded-3 p-2 m-1 align-items-center">
      <div class="card-header text-center border rounded-2 w-100 p-2 m-1">
        <div class="p-1 m-1">
          <h5>Password Generator</h5>
          <!-- <div class="card-title">Password Generator</div> -->
        </div>
      </div>
      <div class="card-body d-flex flex-column p-2 m-4 w-75">
          <!-- Length of password -->
        <div class="d-flex mb-3">
          <span class="p-0 m-0 mx-1">
            <div class="card-text mx-4">Password length</div>
          </span>
          <input id="passwordLength" class="w-50" type="number" value="16">
        </div>

        <!-- Include Lower Case -->
        <div class="d-flex form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="passwordIncludeLowerCase" checked>
          <label class="form-check-label " for="passwordIncludeLowerCase">Include Lower Case ( a-z )</label>
        </div>

        <!-- Include Upper Case -->
        <div class="d-flex form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="passwordIncludeUpperCase" checked>
          <label class="form-check-label" for="passwordIncludeUpperCase">Include Upper Case ( A-Z )</label>
        </div>

        <!-- Include Numbers -->
        <div class="d-flex form-check form-switch mb-3">
          <input class="form-check-input " type="checkbox" id="passwordIncludeNumbers" checked>
          <label class="form-check-label " for="passwordIncludeNumbers">Include Numbers ( 0-9 )</label>
        </div>

        <!-- Include Symbols  !@#$% -->
        <div class="d-flex form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="passwordIncludeSymbols" checked>
          <label class="form-check-label" for="passwordIncludeSymbols">Include Symbols </label>
        </div>

        <!-- Include Ambigious Charater  {}[]()/\'"`~,;:.<>-->
        <!-- <div class="d-flex form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="passwordAmbiguousCharaters" checked>
          <label class="form-check-label" for="passwordIncludeAmbiguousCharaters">Include Ambiguous Charaters (  )</label>
        </div> -->
        <button type="button" class="btn btn-light btn-outline-secondary mb-5" onclick="ShowPassword()">Generate Password</button>
      </div>
        <div id="card-footer" class="">
        </div>
                
    </div>
  </div>
<!-- end password generator -->

</div>

<script src="../js/showPassword.js"></script>
<script src="../js/clipboard.js"></script>
<script src="../js/sidebar.js"></script>