<div class="modal fade" id="addApplications" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Application</h5><button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body p-5">
          <% include ../../../partials/messages %>
            <form action="applications" method="POST" novalidate="" autocomplete="off">
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="name" style="width: 38%;">
                  Name
                </label>
                <input id="addApplicationName" type="text" class="form-control" name="addApplicationName" value="" autofocus />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="device" style="width: 38%;">
                  Device
                </label>
                <input id="addApplicationDevice" type="text" class="form-control" name="addApplicationDevice" value="" />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="email" style="width: 38%;">
                  E-Mail Address
                </label>
                <input id="addApplicationEmail" type="email" class="form-control" name="addApplicationEmail" value="" />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="password" style="width: 38%;">
                  Password
                </label>
                <input id="addApplicationPassword" type="text" class="form-control" name="addApplicationPassword" />
              </div>
              <div class="d-flex align-items-center"><button type="submit" value="add"
                  class="btn btn-primary ms-auto">Add Application</button>
              </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>