<div class="modal fade" id="addBank-Cards" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Bank Card</h5><button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body p-5">
          <% include ../../../partials/messages %>

            <form action="bank-cards" method="POST" novalidate="" autocomplete="off">
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="name" style="width: 35%;">
                  Name
                </label>
                <input id="addBankCardName" type="text" class="form-control" name="addBankCardName" value="" autofocus />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="device" style="width: 35%;">
                  Card Number
                </label>
                <input id="addBankCardCardNumber" type="text" class="form-control" name="addBankCardCardNumber" value="" />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="holderName" style="width: 35%;">
                  Holder Name
                </label>
                <input id="addBankCardHolderName" type="text" class="form-control" name="addBankCardHolderName" value="" />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="name">
                  Expiry
                </label>
                <input id="addBankCardExpiry" type="tel" class="form-control" name="addBankCardExpiry" value="" />
                <label class="input-group-text text-muted" for="cvv">cvv/cvc
                </label>
                <input id="addBankCardCVV" type="text" class="form-control" name="addBankCardCVV" value="" />
              </div>

              <div class="d-flex align-items-center">
                <button type="submit" value="add" class="btn btn-primary ms-auto">Add Bank card </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>