<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <img
            src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
            alt="logo"
            width="100"
          />
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">
              Welcome <%= user.name%>
            </h1>
            <h2 class="fs-5 card-title fw-bold mb-4">
              The Vault is locked. Enter your master password to unlock.
            </h2>
            <form
              method="POST"
              class="needs-validation"
              novalidate=""
              autocomplete="off"
            >
              <!-- Email -->
              <div class="mb-3">
                <label class="mb-2 text-muted" for="masterPassword"
                  >Master Password</label
                >
                <input
                  id="email"
                  type="password"
                  class="form-control"
                  name="masterPassword"
                  value=""
                  required
                  autofocus
                />
                <div class="invalid-feedback">Master Password is invalid</div>
              </div>

              <div class="d-grid align-items-center">
                <button
                  type="submit"
                  value="login"
                  class="btn btn-primary .mx-auto"
                >
                  Unlock
                </button>
              </div>

              <!-- Password -->
              <div class="mb-3">
                <div class="mb-2 w-100">
                  <a href="/forgot-master-password" class="float-end">
                    Forgot Password?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center mt-5 text-muted">
          Copyright &copy; 2017-2021 &mdash; Your Company
        </div>
      </div>
    </div>
  </div>
</section>
