<div class="sidebar active">
  <div class="logo-content">
    <div class="logo">
      <img
        src="/img/logo.png"
        alt="logo"
        width="170"
      />
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav_list p-0">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" id="searchBtn" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="all-entries">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">All Entries</span>
      </a>
      <span class="tooltip">All</span>
    </li>
    
      <!-- <li>
        <a href="favourates">
          <i class="bx bx-bookmark"></i>
          <span class="links_name">Favourites</span>
        </a>
        <span class="tooltip">Favourites</span>
      </li> -->
      <li>
      <a href="websites">
        <!-- <i class='bx bx-pie-chart-alt-2' ></i> -->
        <i class="bx bx-wifi"></i>
        <span class="links_name">Website</span>
      </a>
      <span class="tooltip">Website</span>
    </li>
    <li>
      <a href="applications">
        <!-- <i class='bx bx-chat' ></i> -->
        <i class="bx bx-desktop"></i>
        <span class="links_name">Application</span>
      </a>
      <span class="tooltip">Application</span>
    </li>
    <li>
      <a href="bank-cards">
        <i class="bx bx-id-card"></i>
        <span class="links_name">Bank Cards</span>
      </a>
      <span class="tooltip">Bank Cards</span>
    </li>
    <!-- HR -->
    <hr />
    <!-- hr  -->
    <li>
      <a href="password-generator">
        <i class="bx bx-pencil"></i>
        <span class="links_name">Password Generator</span>
      </a>
      <span class="tooltip">Password Generator</span>
    </li>
    <!-- <li>
      <a href="#">
        <i class="bx bx-key"></i>
        <span class="links_name">Password Check</span>
      </a>
      <span class="tooltip">Password Check</span>
    </li> -->
    <!-- HR -->
    <!-- <hr /> -->
    <!-- hr  -->
  </ul>
</div>
